*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(20, 20, 20);
  font-family: dm sans;
  font-size: 1.7rem;
  font-weight: 100;
}
h1{
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
h2,h1,p{
  color: white;
  margin: 1rem;
}